[submodule "contrib/libdazeus-irc"]
	path = contrib/libdazeus-irc
	url = http://github.com/sgielen/libdazeus-irc.git
[submodule "contrib/dotconf"]
	path = contrib/dotconf
	url = https://github.com/williamh/dotconf
[submodule "bindings/libdazeus/contrib/jansson"]
	path = bindings/libdazeus/contrib/jansson
	url = git://github.com/akheron/jansson.git
[submodule "contrib/jansson"]
	path = contrib/jansson
	url = git://github.com/akheron/jansson.git
